.product {
    max-height: 94%;
    height: 94%;
    background-color: white;
    border: none;
    border-radius: 20px 0 20px 0;
    box-shadow: 0 0 10px 2px rgb(231, 230, 230);
}

.card-title {
    font-size: 12pt;
}

.product__img {
    max-height: 160px;
    object-fit: cover;
    object-position: top center;
}

.product:hover {
    background-color: rgb(252, 247, 247);
}
